@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    bottom: 0;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    
     
}

.caixa-banner {
    background-image: url(../img/bk2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;  
    height: 85vh;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
}
.caixa-banner .titulo1{
    padding: 5rem;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}



.subtitulo1 {
    margin: 20px;
}
.link-sobre{
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 20px;
    margin: 10px 10px;
    transition: all ease 0.3s;
    background-color: white;
}
.link-sobre:hover{
    background-color: rgb(143, 86, 216);
    color: white;
}
.titulo-sobre{
    width: cover;
    background-color: rgb(143, 86, 216);
    text-align: center;
    padding: 30px;
    color: white;

}
.fotografia{    
    padding-top: 20px;
    padding-right: 50px;
    max-width: 250px;
}
.caixa-sobre {
    color: rgb(143, 86, 216);

    max-width: cover;    
}
.lado1 {
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    max-width: 135vh;
    padding: 100px;
    
}
.lado2{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: table-column;
}

.nome{
    padding: 20px;
    margin: 10px;
    font-weight: 600;
}
.margin-texto{
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
    
}

.link-cv{
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: rgb(143, 86, 216);
    color: white;
    font-weight: 500;
    padding: 8px;
    border-radius: 20px;    
    transition: all ease 0.3s;      
}
.link-cv:hover{
    background-color: rgb(77, 41, 126);
    color: rgb(217, 198, 243);
}

.line {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    border-top: 1px dashed rgb(146, 115, 189);
    
}

.habilidades {
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 120vh;
    padding-top: 80px;
    
}
.soft{
    padding-left: 80px;
}
.hard {
    padding-right: 70px;
    
}
.lado h3{
    text-transform: uppercase;
    padding: 30px;
}

.caixa-links {
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    max-width: 135vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.links {
    border: 3px solid rgb(143, 86, 216);
    width: 170px;
    height: 170px;
    text-align: center;
    text-decoration: none;
    color: rgb(143, 86, 216);
    transition: ease all 0.3s;
}

.caixa-links i {
    
    font-size: 50px;
}
.links:hover{
    background-color: rgb(143, 86, 216);
    color: white;
}

@media(max-width: 710px) {
    .lado1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.soft {
    width: 80%;
    text-align: justify;
}

.hard {
    width: 80%;

}

.titulo-sobre {
    width: cover;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.links {
    margin-top: 10px;
    width: 250px;
    height: 250px;
    font-size: 20px;
}

.icone {
    margin-top: 40px;

}

} 